*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 1500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position:relative;
    top: 150px;
}
.animate{
    animation: jump 0.5s linear;
}
@keyframes jump{
    0%{top: 180px;}
    30%{top: 80px;}
    70%{top: 150px;}
    100%{top: 180px;}
}

#block{
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 1000px}
    100%{left: -20px}
}
p{
    text-align: center;
}